{% extends "main.html" %} {%block title%}Настройка теста{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Настройка теста</h2>
                <p>Название теста: {{ test.name }}</p>
                <p><a href="{% url 'specs:tests' %}">Назад к тестам</a></p>
                <p><a href="{% url 'specs:create_question' pk=test.pk %}">Добавить вопрос</a></p>
                <ol>
                {% for question in questions %}
                    
                    
                        <li><p><h5><b>{{ question.name }}</b></h5></p>
                        <p>Тип: {{ question.get_type_display }}</p>
                        <a href="{% url 'specs:update_question' pk=question.pk %}" class="btn btn-primary">Изменить </a>
                        <form action="{% url 'specs:delete_question' pk=question.pk %}" method="post">
                            {%  csrf_token %}
                            <input type="hidden" name="pk" value="{{ question.pk }}">
                            <button class="btn btn-danger" type="submit">Удалить</button>
                        </form>
                        <p><a href="{% url 'specs:set_question' pk=question.pk %}">Настроить ответы</a></p>
                        </li>
                    
                    
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
