{% extends "main.html" %} {%block title%}Тест{% endblock %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>{{ object.name }}</h2>
                <p>Урок: {{ object.lesson.name }}</p>
                <p>Минимальный проходной балл: {{ object.min_score }}</p>
                <p>Максимальный балл: {{ object.max_score }}</p>

                {% if trainee_test %}
                    <p>Статус выполнения: {{ trainee_test.get_status_display }}</p>
                {% endif %}

                {% if user.is_superuser %}
                    <a href="{% url 'specs:set_test' pk=object.pk %}" class="btn btn-primary">Настроить тест</a>
                {% endif %}

                <button type="button" class="btn btn-primary js-start-test" data-url="{% url 'specs:start_test' pk=object.pk %}">
                    Начать тест
                </button>

                <div class="modal fade" id="modal-test">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/tests.js' %}"></script>
{% endblock %}