{% load widget_tweaks %}
<div class="modal-content">
<form method="post" action="{% url 'specs:start_test' pk=test.pk %}" class="js-test-start-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p class="lead">Вы уверены, что хотите начать тест <strong>{{ test.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    <button type="submit" class="btn btn-danger">Приступить</button>
  </div>
</form>
</div>